*{
    font-size: 20px;
    color: gray;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}

.grid-container {
    font-family: monospace;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: gray;
    padding: 10px;
}

.grid-container > a {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px 0;
}

.grid-container > a:hover{
    background-color: gray;
    color: whitesmoke;
}

a{
    text-decoration: none;
    /* color: gray; */
}
