@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    color: gray;
}

body{
    background-color: #e1e1e1;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-family: 'Pacifico', cursive;
    margin: 0;
}

a{
    text-decoration: none;
}
  
.container {
    font-family: 'Ubuntu', sans-serif;
    font-size: x-large;
    margin: 0 auto;
}
