@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    margin: 0;
}

#container{
    margin: 70px auto 0;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    width: 300px;
    height: 400px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li:nth-of-type(1), li:nth-of-type(2){
    float: left;
}

li:nth-of-type(1){
    font-family: 'Lobster', cursive;
}

li:nth-of-type(3){
    float: right;
    cursor: pointer;
}

li {
    font-size: medium;
    color: white;
    padding: 14px 10px;
}
