body{
    margin-top: 12em;
}

button#pick{
    width: 300px;
    height: 30px;
    color: white;
    background-color: #424241;
    border: none;
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
}

button#theme{
    margin-bottom: 5px;
    background-color: #292828;
    color: white;
    border: none;
    height: 30px;
    cursor: pointer;
}

textarea{
    width: 300px;
    outline: none;
    resize: none;
    border: none;
    background-color: #909396;
}

::placeholder{
    color: #3d3d3d;
}