body{
    background-color: #f0bb49;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

*{
    color: gray;
}

div#quotebox{
    width: 350px;
    height: 220px;
    background-color: white;
    overflow: visible;
    overflow-wrap: break-word;
    padding: 20px;
    box-sizing: border-box;
}

p#quote{
    margin: 30px 5px 5px;
}

p#caption{
    margin: 30px 10px 10px;
    font-family: cursive;
}