@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color: brown;
}

h1{
  font-size: 5em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: wheat;
  font-family: 'Montserrat', sans-serif;
}

#add{
  height: 35px;
  width: 35px;
  border: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
}

.container{
  text-align: center;
  display: flex;
  justify-content: center;
}

.todos{
  max-width: 500px;
}

li{
  font-size: x-large;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  list-style: none;
  margin: 15px;
  padding: 5px;
  border-radius: 15px;
  word-wrap: break-word;
}

i{
  color: gray;
}

.fa-trash{
  cursor: pointer;
  margin-left: 10px;
}

.completed{
  text-decoration: line-through;
  color: gray;
}
