@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
  box-sizing: border-box;
}

h1.header{
  text-align: center;
  font-family: 'Pacifico', cursive;
  margin: 0;
  color: #777;
}

form{
  display: flex;
  justify-content: center;
}

input[type="text"]{
  width: 300px;
  margin: 0.5em;
  margin-right: 0;
  border: 1px solid gray;
  border-right: none;
  padding: 0.5em;
  outline: none;
}

i{
  color: white;
}

button{
  margin: 0.5em;
  margin-left: 0;
  border: 1px solid gray;
  background-color: gray;
  border-left: none;
  padding: 0.5em;
  cursor: pointer;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 150px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  font-family: 'Ubuntu', sans-serif;
  color: grey;
  font-size: medium;
  padding: 15px;
  text-align: center;
}
