body{
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

div{
	padding: 15px;
	font-size: 30px;
	border-radius: 10px;
	background-color: azure;
	color: gray;
	border: 1px solid black;
}

span{
	margin: 5px;
}
